scikit-learn
pandas
seaborn
jupyterlab
notebook
koreanize_matplotlib
imageio
xgboost
lightgbm
catboost
torch 
torchvision 
torchaudio
missingno
tqdm
streamlit
streamlit-drawable-canvas
opencv-python
torchinfo